.name {
    display: block;
    color: #2D3748;
    font-weight: 500;
    padding: 2rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
